.Chair{
    &.booking{
        background: red !important;
        color: white;
    }
    &.booked{
        background: grey !important;
        color: white;
        pointer-events: none;
    }
}
.ChairList{
    >div:first-of-type{
        >div:last-of-type{
            .btn{
                background-color: transparent !important;
                color:  yellow;
                pointer-events: none;
            }
        }
}
}